@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


/* ========== Colors for common ============== */

$main-text: #cf4858;
$default-bg: #595959;
$laravel-red: #f4655f;
$white: #fff;
$shadow: rgba(12,12,12,0.4);

/* ======================================== */

@mixin setBg($url,$size) {
    background-image: url($url);
    background-size: $size $size;
    background-repeat: no-repeat;
}

body {
    background-image: url(../../img/light_toast.png);
}

.brand {
    /*font-family: 'Indie Flower';*/
    font-family: 'Covered By Your Grace';
    font-size: 5em !important;
    color: $main-text;
}

.brand-small {
    font-family: 'Covered By Your Grace';
    color: $main-text !important;
    font-size: 3em !important;
    text-shadow: 0px 1px 1px $shadow;
}

.btn-default-new {
    background-color: #fff;
    color: $default-bg;
}

.btn-default-new:hover {
    background-color: #ddd;
    color: $default-bg;
}

/* ========== for login page ============== */
.card {
    background-color: #fff;
    color: $laravel-red;
    padding: 15px;
}

.btn-custom-small:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: $laravel-red;
}

.btn-custom-small a:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-custom-small {
    color: $laravel-red;
    border: 1px solid;
    border-color: $laravel-red;
    background-color: #ffffff;
    padding: 7px 14px;
}

.btn-custom-small a {
    color: $laravel-red;
    text-decoration: none;
}

.card .form-control:focus {
  border-color: $laravel-red;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 101, 95, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 101, 95, 0.6);
}

.footer {

    h4 {
        color: $laravel-red;
        font-weight: bolder;
    }

    img {
        width: 48px;
        height: 48px;
    }

    
/*         text-decoration: none;
        color: $white; 
        span {
            width: 48px;
            height: 48px;
        }
 */     
    .follow-us div {
        width: 36px;
        height: 36px;
        float: left;
        margin-right: 10px;
    }
        #fb {
            @include setBg('../../img/fb_nohover.png',36px);
        }
        #twitter {
            @include setBg('../../img/twitter_nohover.png',36px);
        }
        #github {
            @include setBg('../../img/github_nohover.png',36px);
        }
    
        #fb:hover {
            @include setBg('../../img/fb_hover.png',34px);
        }
        #twitter:hover {
            @include setBg('../../img/twitter_hover.png',34px);
        }
        #github:hover {
            @include setBg('../../img/github_hover.png',34px);
        }    
    

    color: $white;
    font-weight: normal;
    background-image: url(../../img/noisy_net.png);
    position: relative;
    height: auto;
    bottom: 0;
    width: 100%;
    background-color: #7e7e7e;
    margin-top: 50px;
    box-shadow: 0px -1px 10px $shadow;
    padding-top: 21px; 
    padding-bottom: 21px;

}

.main-nav {
    margin-bottom: 0px;
    background-image: url(../../img/noisy_net.png);
    box-shadow: 0px 1px 5px $shadow;
   // border-top: 5px solid $main-text;
}