/*=========== all color definitions ===========*/
$nav-color: #303239;
$main-text: #cf4858;
$laravel-red: #f4655f;


$file-explorer-bg: #f5f5f5;
$table-text: #393939;
$table-text-hover: #7e7e7e;
$row-hover: #2e2e2e;

$breadcrumb-bg: #d1d1d1;

$blue-pop: #00ddd8;
$blue: #17a89e;
$light-blue: #5dc2bb;

$side-bar-bg: #262c3a;
$side-bar-text: #81848f;
$side-bar-text-selected: #12161b;
$sb-hover: #c1c4cf;

$shadow: rgba(31,31,31,0.4);
$white: #ffffff;

/*===========================================*/

/*============mixins=========================*/
@mixin columnWidths() {
	td:nth-child(1) {
    	width: 37%;
	}


	td:nth-child(2) {
	    width: 27%;
	}

	td:nth-child(3) {
	    width: 18%;
	}

	td:nth-child(4) {
	    width: 18%;
	}
}

@mixin headColumnWidths() {
	th:nth-child(1) {
    	width: 37%;
	}


	th:nth-child(2) {
	    width: 27%;
	}

	th:nth-child(3) {
	    width: 18%;
	}

	th:nth-child(4) {
	    width: 18%;
	}
}

/*===========================================*/

/*=========== Modal styling ====================*/
#dropboxAuthModal, #googleDriveAuthModal {
	
	input {
		width: 50%;
	}

	.col-md-12 {
		margin-bottom: 10px;
	}

}

#fileUploadModal {

	.modal-header {
		color: $main-text;
	}

	.modal-dialog {
		width: 400px;
		
	}
}

/*===============================================*/
.loading-gif {
		background-image: url(../../img/loading.gif);
		background-repeat: no-repeat;		
	}

.clicked-row {
	background-color: #D0D0D0 !important;
}

body {

	.float-left {
		float: left;
	}

	.clear-both {
		clear: both;
	}
	background-image: url(../../img/light_toast.png);
	
	.container {
		position: relative;
	}
	.loading {
		position: absolute;
		width: 32px;
		height: 32px;
		top: 10px;
		left: 50%;
		z-index: 120;
		
	}

	
	.dashboard-heading {
		color: $blue-pop;
	}
	

	.cloud-control {
		margin-left: -15px;
		margin-top: 42px;
		.search-bar {
			width: 50%;
			input:focus {
				border-color: rgba(244,101,95,0.6);
 				outline: 0;
  				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 101, 95, 0.6);
          		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 101, 95, 0.6);
			}
		}

		.cloud-control-buttons {
			font-size: 1.3em;
			cursor: pointer;
		}
	}
	.select-cloud {
		color: $table-text;
		img {
			width: 100px;
			height: 100px;
		}
	}

	#side-bar {
    background-image: url(../../img/noisy_net.png);
		background-color: $side-bar-bg;
		min-height: 500px;
		border-radius: 8px 0px 0px 8px;
		box-shadow: -2px 1px 2px 0px $shadow;
		padding: 0px !important;
		color: $main-text;
		text-shadow: 0px 1px 1px $shadow;

		ul {
			
			// active li items
			list-style: none;
			padding: 10px !important;
			li {
				text-align: left;
				padding: 6px 0px 4px 10px;
				font-size: 1.2em;
				margin-top: 0px !important;
				cursor: pointer;
				height: 2em;
			}

			li:hover {
				color: $sb-hover;
			}
			
			.disabled-li,
			.disabled-li:hover {
				text-align: left;
				padding: 6px 0px 4px 10px;
				font-size: 1.2em;
				margin-top: 0px !important;
				cursor: default;
				color: $main-text !important; //to prevent the color changing due to li rules
			}

			.glyphicon {
				margin-top: 4px;
				margin-right: 10px;
			}

			.selected {
				color: $white !important;
				//background-color: $file-explorer-bg;
				//border-left: 5px solid $blue-pop;
				box-shadow: inset 0 0 10px #101010;
				// margin-left: 20px;
				// border-radius: 4px 0px 0px 4px;
			}

			.cloud {
				padding-left: 20px;
				color: $main-text;

				.glyphicon {
					margin-right: 5px !important;
				}
			}
		}

		#side-bar-header {
			min-height: 32px;
			color: $main-text;
			cursor: default !important;


		}
	}

	#file-explorer {

		background-color: $file-explorer-bg;
		min-height: 500px;
		border-radius: 0px 8px 8px 0px;
		box-shadow: 2px 1px 2px 0px $shadow;

		table {

			margin-bottom: 0px !important;
			
			thead {
				display: table; //1.1
				width: 100%;    //1.2
				color: $table-text;
				font-weight: bolder;
				tr {
					font-size: 1.2em;
					color: $side-bar-text-selected;
					
					@include headColumnWidths();

					th {
						cursor: pointer;
					}	
				}
			}

			tbody {
				color: $table-text;
				font-weight: normal;
				max-height: 420px;
				display: block; //1.3
				overflow: auto; //1.4

				a {
					color: $table-text;
				}

				a:hover {
					color: $table-text-hover;
				}

				

				tr {
					font-size: 14px;
					line-height: 32px;
					display: table; //1.5
					width: 100%; //1.6 this makes table work

					td:first-child {
						cursor: pointer;
					}

					td {
						.glyphicon {
							margin-right: 5px;
						}
					}
				}

				tr:hover {

				}

			}

			tr {
				padding: 15px;
			}
			
			td {
				text-align: left;
			}

			@include columnWidths();
		}

		#new-folder-input {
			width: 50%;
		}

		#new-folder-input:focus {
			border-color: $main-text;
		}

		.breadcrumb {
			
			margin-bottom: 0px !important;
			background-color: $file-explorer-bg;	
			border: 0px !important;
			border-bottom: 1px solid $shadow !important;
			border-radius: 0px 4px 0px 0px;
			min-height: 32px;

			li {
				cursor: pointer;
				font-size: 1.2em;
				font-weight: bolder;
				color: $main-text;
			}
		}
	}

}