.white {
    color: #ffffff !important;
}

.tomato-red {
    color: #f4655f !important;
}

.dark-tomato-red {
    color: #f3726d !important;
}

.dark-grey {
    color: #252525 !important;
}

.light-grey {
    color: #333333 !important;
}
