@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


.white {
    color: #ffffff !important;
}

.tomato-red {
    color: #f4655f !important;
}

.dark-tomato-red {
    color: #f3726d !important;
}

.dark-grey {
    color: #252525 !important;
}

.light-grey {
    color: #333333 !important;
}



.brand-small {
    font-family: 'Covered By Your Grace';
    font-size: 3em !important;
}

.btn-default-new {
    background-color: #fff;
    color: #595959;
}

.btn-default-new:hover {
    background-color: #ddd;
    color: #595959;
}

/* ========== for login page ============== */
.card {
    background-color: #fff;
    color: #f4655f;
    padding: 15px;
}

.btn-custom-small:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #f4655f;
}

.btn-custom-small a:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-custom-small {
    color: #f4655f;
    border: 1px solid;
    border-color: #f4655f;
    background-color: #ffffff;
    padding: 7px 14px;
}

.btn-custom-small a {
    color: #f4655f;
    text-decoration: none;
}

.card .form-control:focus {
  border-color: #f4655f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 101, 95, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 101, 95, 0.6);
}

.footer {
    color: #f4655f;
    position: relative;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #7e7e7e;
    margin-top: 50px; 
}

.main-nav {
    margin-bottom: 0px;
    background-image: url(../img/noisy_net.png);
}