

body {
    background-image: url(../img/light_toast.png);
}
.dashboard-heading {
 
    color: #f4655f;
}

/* ============= User Controls ============== */
.user-panel .btn {
    border: 0px !important;
}

.user-panel, .file-explorer-panel {
    min-height: 500px;
}

.user-panel .glyphicon {
    font-size: 1.2em;
}

.user-panel .cloud {
    margin-left: 10px;
}

/* =========================================== */

.clicked-row {
	background-color: #fbc8c6 !important;
}

.btn-custom {
    color: #f4655f;
    border: 1px solid;
    border-color: #f4655f;
    background-color: #ffffff;
}

.btn-custom:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #f4655f;
}

.btn-label-lg {
    font-size: 1.2em;
}

.panel , .file-explorer-panel .panel-heading {
    border: 0px !important;
}

table {
}

thead {
    display: table;
    width: 100%;
}

tbody {
	color: #7e7e7e;
    max-height: 419px;
    display: block;
    overflow: auto;
}

tbody a {
    color: #7e7e7e;
}

tbody a:hover {
    color: #7e7e7e;
}

tbody tr {
    display: table;
    width: 100%;
}

tbody tr td , thead tr td{
    text-align: left;
}

table td:nth-child(1) {
    width: 37%;
}


table td:nth-child(2) {
    width: 21%;
}

table td:nth-child(3) {
    width: 21%;
}

table td:nth-child(4) {
    width: 21%;
}
tbody tr:hover {
    background-color: #fcdad9;
}

tbody .glyphicon {
    font-size: 1.2em;
    margin-right: 10px;
}

.panel-heading {
    padding: 0px !important;
}

.panel-body {
    padding: 0px !important;
}

.breadcrumb {
    margin-bottom: 0px !important;
    background-color: #d1d1d1;
    min-height: 36px;
    border: 0px !important;
    border-bottom: 1px solid rgba(66,66,44,0.4) !important;
    border-radius: 0px 4px 0px 0px;

}

.table {
    margin-bottom: 0px !important;

}

#file-explorer tr {
	padding: 15px;
}


#file-explorer thead tr {
	font-size: 1.4em;
    color: #595959;
}

#file-explorer tbody tr {
	font-size: 1.2em;
}

#file-explorer tbody tr > td:first-child {
	cursor: pointer;
}

.breadcrumb li {
    cursor: pointer;
    font-size: 1.2em;
    color: #ac110c;
}

/* =========== Cloud Controls =================== */

.cloud-control-buttons .glyphicon {
    font-size: 1.3em;
    cursor: pointer;
    color: #595959;
}

.cloud-control-buttons .glyphicon:hover {
    color: #8a8a8a;
}

.cloud-control-buttons li {
    margin-left: 5px;
}

.cloud-control-buttons {
    margin-top: 24px;
}


 /* .cloud-controls {
    border: 0px !important;
    box-shadow: none;
    margin-top: 21px;
    margin-bottom: 0px;
 } 
 */
/* ============================================== */

#new-folder-input {
    width: 50%;
}

#new-folder-input:focus {
    border-color: #f4655f;
}

#side-bar {
  background-color: #4d505b;
  min-height: 500px;
  border-radius: 4px 0px 0px 4px;
  box-shadow: -2px 1px 2px 0px rgba(30, 36, 31, 0.4);
  padding: 0px !important;
}

#side-bar ul li {
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-size: 1.2em;
  color: #191C27;
  text-shadow: rgba(30, 36, 31, 0.4);
  /*border-bottom: 1px solid #323337;*/
  margin-top: 0px !important;
}

#side-bar ul li:hover {
    background-color: #323B4B;
    color: #fff;    
}

/* line 32, ../sass/mock.scss */
#side-bar ul .selected {
  color: #4d505b;
  background-color: #f1f1f1;
  border-left: 4px solid #00ddd8;
  text-shadow: 0px 1px rgba(30, 36, 31, 0.4);
}

#side-bar ul .glyphicon {
    margin-top: 3px;
    vertical-align: middle;
    margin-right: 5px;
}

/* line 44, ../sass/mock.scss */
#file-explorer {
  background-color: #f1f1f1;
  min-height: 500px;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 2px 1px 2px 0px rgba(30, 36, 31, 0.4);
}

#side-bar-header {
    min-height: 36px;
}

