@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

.clicked-row {
	background-color: #fbc8c6 !important;
}

.btn-custom {
    color: #f4655f;
    border: 1px solid;
    border-color: #f4655f;
    background-color: #ffffff;
}

.btn-custom:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #f4655f;
}

.btn-label-lg {
    font-size: 1.2em;
}

.panel , .file-explorer-panel .panel-heading {
    border: 0px !important;
}

tbody {
	color: #7e7e7e;
}

tbody a {
    color: #7e7e7e;
}

tbody a:hover {
    color: #7e7e7e;
}

tbody tr:hover {
    background-color: #fcdad9;
}

.control-panel .btn {
    border: 0px !important;
}

.control-panel, .file-explorer-panel {
    min-height: 500px;
}
.panel-heading {
    padding: 0px !important;
}

.panel-body {
    padding: 0px !important;
}

.breadcrumb {
    margin-bottom: 0px !important;
}

.table {
    margin-bottom: 0px !important;
}

#file-explorer tr {
	padding: 15px;
}


#file-explorer thead tr {
	font-size: 1.4em;
    color: #595959;
}

#file-explorer tbody tr {
	font-size: 1.2em;
}

#file-explorer tbody tr > td:first-child {
	cursor: pointer;
}

.cloud-control-buttons .glyphicon {
    font-size: 1.3em;
    cursor: pointer;
    color: #595959;
}

.cloud-control-buttons .glyphicon:hover {
    color: #8a8a8a;
}

.cloud-control-buttons li {
    margin-left: 5px;
}


.cloud-controls {
    border: 0px !important;
    box-shadow: none;
}

/*.cloud-controls .desc-text {
    font-size: 1em;
    color: #a9a9a9;
}
*/
.breadcrumb li {
	cursor: pointer;
    font-size: 1.2em;
    color: #ac110c;
}

tbody .glyphicon {
    font-size: 1.2em;
    margin-right: 10px;
}

.dashboard-heading {
    font-size: 3em;
    color: #f4655f;
}